.pip {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  background: url('bg 2.jpg') no-repeat center center/cover;
}
.pip {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 350px;
  
}
.pip img {
  width: 100%; 
  height: auto;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.pip-item {
  text-align: center;
  width: 20%;
}
.pip .title {
  margin-top: 20px;
  font-size: 1rem;
  color: black;
}
.artwork-container {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-top: 20px;
  background: url('bg 2.jpg') no-repeat center center/cover;
}

.artwork-title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
  align-items: center;
}

.artwork-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.art-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: right;
}

.art-item img {
  max-width: 100%;
  border-radius: 4px;
}
.button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  border-radius: 15px;
}

button:hover {
  background-color: green;
}